#ignore python cache files
source/__pycache__/config.cpython-310.pyc
source/__pycache__/dataset.cpython-310.pyc
source/__pycache__/model.cpython-310.pyc
source/__pycache__/train.cpython-310.pyc

#ignore processed files
data/processed/*
data/processed/*

#ignore raw folders
data/raw/*
#ignore model checkpoints
output/models/*

#ignore results
results/*